# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Bash scripts (no extension) - mkconf scripts and debian files
[*/mkconf/*]
indent_style = tab
indent_size = 4

# Debian packaging files
[*/debian/{rules,control,changelog,prerm,postinst,postrm,install,compat}]
indent_style = tab
indent_size = 4
